 <!-- Header -->
    <header class="custom-header">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div class="logo-section" onclick="showPage('home')" style="cursor: pointer;">
                    <!-- <div class="logo-icon">🕉️</div> -->
                    <div class="logo-icon"><img src="assets/images/balgokul_pwclogo.png" height="120px" width="120px">
                    </div>
                    <div class="logo-text">
                        <h1 class="mb-0">Bal Gokul of Prince William County</h1>
                        <p>Haymarket, Virginia</p>
                    </div>
                </div>
            </div>
        </div>
    </header>